.cards  > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards  > ul  > li {
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards  > ul  > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards .cards-card-body p {
  text-transform: uppercase;
}

.cards .cards-card-body p:nth-of-type(2) {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 50px;
  white-space: nowrap;
  text-transform: uppercase;
  color: dimgray;
  font-size: 14px;
}

.articlesection .cards .cards-card-body p:nth-of-type(2) {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 50px;
  white-space: nowrap;
  text-transform: uppercase;
  color: dimgray;
  font-size: 14px;
}


.aboutuscards .cards  > ul  > li img {
  border-radius: 50%;
  height: 135px;
  object-fit: cover;
  width: 135px;
}


.aboutuscards .cards  > ul  > li {
  border: none;
  background-color: var(--background-color);
}

.aboutuscards .cards .cards-card-body {
  text-align: center;
}

.aboutuscards .cards .cards-card-image {
  margin-left: 5rem;
}

.socialcontainer {
  background-color: black;
  display: flex;
  gap: 5px;
  width: fit-content;
  margin-left: 3rem;
  margin-top: 1rem;
}

.socialcontainer img::before {
  content: "î¤‚";
}

.aboutuscards .cards  > ul  > li .socialcontainer img {
  border-radius: 50%;
  height: 20px;
  padding: 10px;
  object-fit: cover;
  width: 30px;
}

.aboutuscards .cards .cards-card-body h3 {
  font-size: 24px;
}

.aboutuscards .cards .cards-card-body h5 {
  font-family: var(--body-bold-font-family);
  font-size: 14px;
  text-transform: uppercase;
}

@media (width >= 900px) {
  .socialcontainer {
    background-color: black;
    display: flex;
    gap: 5px;
    width: fit-content;
    margin-left: 3rem;
    margin-top: 1rem;
  }

  .aboutuscards .cards .cards-card-image {
    margin-left: 4rem;
  }
}