@media (width >=900px) {
    .author-wrapper-div {
        display: flex;
        width: 65%;
        margin-left:3rem;
    }

    .author-wrapper-div .authorsociallinks  >  div {
        background-color: black;
        display: flex;
        gap: 5px;
        width: fit-content;
        margin-left: 3rem;
        margin-top: 0.5rem;
    }

    .author-wrapper-div .authorsociallinks > div img::before {
        content: "î¤‚";
    }

    .author-wrapper-div .authorsociallinks > div img {
        border-radius: 50%;
        height: 20px;
        padding: 10px;
        object-fit: cover;
        width: 30px;
    }

    .author-wrapper-div .authorphoto > div img {
        border-radius: 50%;
        height: 80px;
        object-fit: cover;
        width: 80px;
        margin-top: 1rem;
    }

    .author-wrapper-div .authordetails > div {
        margin-left: 1rem;
    }

    .author-wrapper-div .authordetails {
        width: 55%;
    }


    .author-wrapper-div .authordetails p {
        font-size: 12px;
        text-transform: uppercase;
    }

}

.author-wrapper-div .authorsociallinks  >  div {
    background-color: black;
    display: flex;
    gap: 13px;
    width: fit-content;
    margin-top: 1.5rem;
}

.author-wrapper-div .authorphoto {
    width: fit-content;
    position: absolute;
}

.author-wrapper-div  img {
    border-radius: 50%;
    height: 63px;
    object-fit: cover;
    width: 61px;
}

.author-wrapper-div .authordetails {
    position: relative;
    padding-left: 5rem;

}

.author-wrapper-div .authordetails h3{
    font-size: 24px;
}

.author-wrapper-div .authordetails p{
    text-transform: uppercase;
}


