footer {
  background-color: var(--text-color);
  color: var(--background-color);
  margin-top:3rem;
  padding:1rem 0 1.5rem;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer .footersocial > div {
  display: flex;
  background-color: var(--background-color);
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 5px;
  gap: 15px;
}

footer .footer .footersec > div > p > a.button {
  font-size: 14px;
  font-weight: 400;
}

footer .footer .footersec > div > p > a.button:any-link {
  background-color: var(--text-color);
  color: var(--background-color);
  margin-top:2.5rem;
  padding:0;
  display: inline;
}

footer .footer .footersec > div > p:nth-child(2) {
  margin-left: 5rem;
}

footer .footer .footerfollow > div {
  margin-left: 26rem;
  margin-top:20px;
}

footer .footer .footerfollow > div > h4{
  font-size: 16px;
  font-weight:600;
  font-family: var(--body-bold-font-family);
}


footer .footer .footersec > div  {
  display: flex;
  gap: 30px;
}

footer .footer .footersec img {
  width: 128px;
  height:auto;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
    display: flex;
  }
}


footer .footerinfo {
  font-size : 14px;
  font-weight:300;
}

footer .footerinfo a:any-link {
  color: white;
}
