/* add global styles that can be loaded post LCP here */
.active
{
 
    background-color: #ffea00;
    color: var(--textColor, #202020);
    font-size: var(--fontSizeSmall, 14px);
    padding: 15px 17px;
    text-decoration: none;
    text-transform: uppercase;

}