/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family:sourcesanspro-regular, sourcesanspro-regular-fallback sans-serif;
--body-bold-font-family: sourcesanspro-semibold;
  --heading-font-family: asar-regular, asar-regular-fallback, sans-serif;
--lock-icon : lock-icon;

  /* body sizes */
  --body-font-size-m: 14px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@font-face {
  font-family: sourcesanspro-regular-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@font-face {
  font-family: sourcesanspro-semibold-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@font-face {
  font-family: asar-regular-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}




@media (width >= 900px) {
  :root {
   /* body sizes */
   --body-font-size-m: 18px;
   --body-font-size-s: 16px;
   --body-font-size-xs: 14px;

   /* heading sizes */
   --heading-font-size-xxl: 45px;
   --heading-font-size-xl: 36px;
   --heading-font-size-l: 28px;
   --heading-font-size-m: 22px;
   --heading-font-size-s: 20px;
   --heading-font-size-xs: 18px;



  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 0;
  padding: 1em 2.5em;
  text-transform:uppercase;
  /* font-family: var(--body-font-family);
  font-style: normal; */
  font-size:14px;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: #ffea00;
  color: var(--text-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  /* background-color: var(--link-hover-color); */
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  /* background-color: var(--light-color); */
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 7rem;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }

  .signup-block {
    left: 50%;
    position: fixed;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 450px;
    z-index: 999999;
}


.signup-block .form-wrapper{
    background: #202020;
    -webkit-box-shadow: 0 10px 20px dimgray;
    box-shadow: 0 10px 20px dimgray;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2rem;
    max-width: 450px;
    padding: 2rem 1.75rem !important;
    color:white
}

.magazineWrapper {
  display: flex;

}

.magazineWrapper > div:nth-child(1) {
  width:100%;

}

  .magazineWrapper > div:nth-child(2) {
    margin:0;
  }

  .magazineWrapper > div:nth-child(2) li {
    height: 50pt;
    border-left: 5px solid #ebebeb;
    list-style: none;
    padding: 2rem;
    margin: 2rem;
  }

  .magazineWrapper > div:nth-child(2) li  > a{
    text-decoration: none;
    color: var(--text-color);
  }

  
  .magazineWrapper > div:nth-child(2) li:hover{
    border-left: 5px solid black;
    background-color: #ffea00;
  }

  .magazineWrapper blockquote + p {
    margin-top: -4rem;
    margin-bottom: 4rem;
    margin-left: 5rem;
    padding: 10px;
  }

    .magazineWrapper blockquote > p  {
      padding: 3rem;
    font-size: 25px;
     }

  
     .magazineWrapper blockquote > p::after
     {
      border-bottom: 2px solid var(--brandPrimary, #ffea00);
      content: "";
      display: block;
      padding-top: 8px;
      width: 84px;
    }
     .magazineWrapper blockquote  {
        background-color: #ebebeb;
        height: auto;
     }

     .magazineContentWrapper h1:nth-child(1) {
      font-size: 40px;
     }

     .authorWrapperDiv {
        display: flex;
        width: 65%;
     }

     .authorWrapperDiv .default-content-wrapper:nth-child(3) {
      background-color: black;
    display: flex;
    gap: 5px;
    width: fit-content;
    margin-left: 3rem;
     }

     .authorWrapperDiv .default-content-wrapper:nth-child(3)  img:before {
      content: "";
    }
    
    .authorWrapperDiv .default-content-wrapper:nth-child(3)  img {
      border-radius: 50%;
      height: 20px;
      padding:10px;
      object-fit: cover;
      width: 30px;
    }

    .authorWrapperDiv .default-content-wrapper:nth-child(1)  img {
      border-radius: 50%;
    height: 80px;
    object-fit: cover;
    width: 80px;
    }

    .authorWrapperDiv .default-content-wrapper:nth-child(2)  {
      margin-left:-6rem;
    }

    .authorSeparator > hr {
        width:65%;
    }

    .lockedmagazine  .cards ul {
     
      grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
      text-transform: uppercase;

    }

    .lockedmagazine  .cards ul li{
      border: none;
      opacity: .65;
      

    }

    .lockedmagazine  .cards ul li img {
      height:211px;
      

    }

    .lockedmagazine  .cards ul li  {
      font-size : 14px;
      

    }

    .lockedmagazine  .cards ul li a.button:any-link {
     margin:0px;
      

    }

    .lockedmagazine  .cards ul li .button {
     background-color: #ebebeb;
     cursor:not-allowed;
     pointer-events: none;
       
 
     }

     .lockedmagazine .cards  ul li::before {
      speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: -webkit-gradient(linear, right bottom, left top, from(hsla(0, 0%, 100%, 0)), color-stop(50%, hsla(0, 0%, 100%, 0)), color-stop(50%, var(--brandPrimary, #ffea00)), to(var(--brandPrimary, #ffea00)));
    background: linear-gradient(to top left, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0) 50%, var(--brandPrimary, #ffea00) 50%, var(--brandPrimary, #ffea00) 100%);
    color: #000;
    content: "\e900";
    font-family: 'lock-icon' !important;
    font-size: 1.25rem;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    padding: 9pt;
    position: relative;
    text-transform: none;
    top: 49px;
    z-index: 2;


     }

     .columns-container .columns > div  {
        background-color: #ebebeb;
     }

     .columns-container .columns .columns-img-col  {
        flex-basis: 28%;
    }

    .columns-container .columns > div p {
      font-size: 12px;
  }

  .magazineWrapper .listofMagazineWrapper > p > a:any-link{
    background-color: #202020;
    color: #fff;
    float: left;
    height: var(--buttonSize, 3pc);
   }

   .magazineWrapper .listofMagazineWrapper ul {
      margin-top: 7rem;
      text-transform: uppercase;
   }

   
   .magazineWrapper .listofMagazineWrapper p,
   .magazineWrapper .listofMagazineWrapper h4
    {
    margin-left: 4.5rem;
    text-transform: uppercase;
    font-family: var(--body-bold-font-family);
 }

 .magazineWrapper .listofMagazineWrapper h5
  {
  margin-left: 4.5rem;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--body-bold-font-family);
}

.magazineWrapper  .magazineContentWrapper p {
  line-height: 45px;
}


 .magazineWrapper .listofMagazineWrapper > p{
    font-size: 12px;
 }



 .magazineWrapper .listofMagazineWrapper > p > a::before {
        
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      content:"\e900";  
        color:white;
        float: left;
        font-family: 'download-icon' !important;
        font-size: 1.25rem;
        font-size: 1.1rem;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 1;
        margin-top: -.1em;
        padding-right: .5em;
        text-transform: none;
        display: inline-block;

    }

   
    header nav .nav-sections .default-content-wrapper > ul > li a .active
    {
     
background-color: #ffea00;

    }





}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

.separator > hr {
  border-style: solid;
  border-width: 1px;
  color: #ebebeb;
  margin-left: 2rem;
  margin-right: 2rem;

}

.titleunderline > div > h2::after {
    border-bottom: 2px solid var(--brandPrimary, #ffea00);
    content: "";
    display: block;
    padding-top: 8px;
    width: 84px;
    /* content: ''; */
}

.titleunderline em {
  font-size: 14px;
}

.show {
  display: block;
}

.hide {
  display: none;
}


